
.All {
    font-family: 'Varela', sans-serif;
    display: inline-block;
    width: 92%;
    margin-left: 30px;
    background-position: top;
}   
    .earth {
        margin: 80px 0 10px 0;
        padding: 0;
        width: 80%;
    }

    #earthP1 {
        width: 70%;
    }
    
   .view {
        padding: 0px;
        margin: 0px;
        width: 80%;
        float: left;
    }
    
    #threadCard {
        margin-left: 10px;
        padding: 10px;
        margin-top: 50px;
        margin-right: 45px;
        margin-bottom: 30px;
        max-width: 100%;
        background: rgba(255,255,255,0.6);
    }
    
    #threadImg {
        margin-top:-5px;
        border-radius: 25px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        max-width: 300px;
    }
    
    #threadCard h1 {
        font-size: 20px;
    }
    
    #threadCard ul {
        margin-bottom: 15px
    }
    
    #threadCard i {
        float: right;
        margin: 5px;
        height: 25px;
        width: 25px;
    }
    
    #page1 {
        padding-top: 15px;
    }
    
    #page1 ul:before {
        margin-top: 90px;
        content: '';
        position: absolute;
        top: 0;
        left:0;
        width: 2px;
        height:80%;
        border: 1px solid #1e87f0;
    }

    #page1 h1 {
        margin-top:0px;
        margin-bottom: 10px;
    }
    
    #page1 ul li {
        margin-left: 30px;
        margin-top: 40px;
        position: relative;
    }
    
    #page1 ul li span {
        content: '';
        position: absolute;
        top: 0;
        left:-70px;
        width: 2px;
        height: 100%;
        border: 1px solid #1e87f0;
    } 
    
    #page1 ul li span:before {
    content:'';
    width: 15px;
    height: 15px;
    border: 2px solid #1e87f0;
    position: absolute;
    border-radius: 50%;
    background: #1e87f0;
    }
    
    #page1 ul li span:before {
        left: -7px;
        top: 25px;
    }

    .storyInterface {
        display: flex;
        flex-wrap: wrap;
    }

    .breakingNews {
        float: right;
        display: inline-block;
        width: 20%;
        height: 100%;
        background-image: url('http://www.wallpaperbetter.com/wallpaper/390/832/917/digital-art-minimalism-simple-triangle-diamonds-geometry-1080P-wallpaper.jpg');
        background-position: center ;
    }

    .earthInApp{
        width: 50%;
        margin: 0;
        padding: 0;
    }

    .threadInApp{
        width: 45%;
        font-size: 0.9em;
        margin-left: 30px;
    }

    .Globe{
        padding: 0;
        margin: 0;
    }

    .threadImgContainer{
        text-align: center;
    }

    #newsCard {
        background: rgba(255,255,255,0.6);
       
    }
    
    .bigNewsFeed {
        /* background-image: url('http://www.wallpaperbetter.com/wallpaper/390/832/917/digital-art-minimalism-simple-triangle-diamonds-geometry-1080P-wallpaper.jpg');
        background-position: center ; */
        background-color: #93B3BF;
        width: 35%;
    }

    .timeline {
        width: 100%;
    }

    .field {
        width: 100%;
    }

    #carouselColumn {
    width: 50%;
    }

    .innerBox {
    margin-top: 30px;
    }

    .title {
    width: 20%;
    padding: 40px;
    }

    .title h1 {
        font-size: 60px;
        /* font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; */
        font-family: 'Jura', sans-serif;
    }