
.All {
    font-family: 'Varela', sans-serif;
    display: inline-block;
    width: 100%;
    zoom: 0.8;
}

#predictionBoard {
    padding: 30px;
    display: inline-flex;
    width: 100%;
}

#innerdiv {
    width: 70%;
  
}

.carousel {
 width: 50%; 
 padding: 1px;
 margin: 0px;
 margin-right: 5px;
 border: 1px solid yellow;  
}

.tile.predictionCard {
    width: 100%;
}


#submittedPrediction {

    padding: 1px;
    width: 35%;
    margin: 0px;
    margin-left: 5px;
    border: 1px solid tomato;
}

#submittedPrediction .innerBox {
    padding: 1px;
    width: 100%;
    height: 125px;
    font-family: 'Varela', sans-serif;
}

#submittedPrediction h1, p {

    font-family: 'Varela', sans-serif; 
}

#submittedView {
    
    padding: 30px;
    margin-left: 50px;
    display: inline-flex;
    width: 100%;
    border: 1px solid green;
}

#innerSlide {
width: 100%;
}

#currentPrediction {

    width: 300px;
  
}

.predictionBody {
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 110px;   
}


.predictionText {
    
    width: 500px;
}

#answerGroups {
display: block;
width: 100%;
}

.answerGroup h3,h2 {
    display: inline-block;
    font-family: 'Varela', sans-serif;
}

.answerGroup {
    width: 100% !important;
    height: 10% !important;
    display: inline-block;
    font-family: 'Varela', sans-serif;
}

.answerGroup:hover {
    display: inline-block;
    background-color: lightgreen;
    font-family: 'Varela', sans-serif;
}

#currentQuestion {
    
    height: 100px;
    width: 540px;
    font-family: 'Varela', sans-serif;
}

#currentQuestion h1 {
    width: 480px;
    font-family: 'Varela', sans-serif;
}

.fa-info-circle {

    margin-right: 8px;
}

.fa-info-circle:hover {
    
    color: blue;
    margin-right: 8px;
}

.fa-times.tile {

    margin-left: 440px;
    padding-left: 120px;
}

.fa-times.tile:hover {
    
    color: blue;
    margin-left: 440px;
    padding-left: 120px;
}

#modalBody {
    width: 630px;
   
}

#modalBody h1 {

    font-family: 'Varela', sans-serif;
}

.notification {
    
    background-color: lightblue;
    height: 100px;
}

.tile {
    
        height: 290px;
        display: block;
        width: 1400px;
    
    }
    
    #CurrentQuestion {
      
        height: 80px;
        display: block;
        width: 450px;
    
    }
    
    .tile.earth {
        margin-top: 80px;
        width: 80%;
    }

    #earthP1 {
        zoom: 0.9
    }
    
   .view {
        padding: 0px;
        margin: 0px;
        width: 80%;
        float: left;
    }
    
    #threadCard {
        margin-left: 10px;
        padding: 10px;
        margin-top: 50px;
        margin-right: 45px;
        margin-bottom: 30px;
        
    }
    
    #threadImg {
        margin-top:-5px;
        border-radius: 25px;
        padding-bottom: 10px;
        margin-bottom: 10px
        
    }
    
    #threadCard h1 {
        font-size: 20px;
    }
    
    #threadCard ul {
        margin-bottom: 15px
    }
    
    #threadCard i {
        float: right;
        margin: 5px;
        height: 25px;
        width: 25px;
    }
    
    #page1 {
        padding-top: 15px;
    }
    
    #page1 ul:before {
        margin-top: 90px;
        content: '';
        position: absolute;
        top: 0;
        left:0;
        width: 2px;
        height:80%;
        border: 1px solid #1e87f0;
    }

    #page1 h1 {
        margin-top:0px;
        margin-bottom: 10px;
    }
    
    #page1 ul li {
        margin-left: 30px;
        margin-top: 40px;
        position: relative;
    }
    
    #page1 ul li span {
        content: '';
        position: absolute;
        top: 0;
        left:-70px;
        width: 2px;
        height: 100%;
        border: 1px solid #1e87f0;
    } 
    
    #page1 ul li span:before {
    content:'';
    width: 15px;
    height: 15px;
    border: 2px solid #1e87f0;
    position: absolute;
    border-radius: 50%;
    background: #1e87f0;
    }
    
    #page1 ul li span:before {
        left: -7px;
        top: 25px;
    }

    .storyInterface {
        display: flex;
        flex-wrap: wrap;
    }

    .breakingNews {
        float: right;
        display: inline-block;
        width: 20%;
        height: 100%;
    }