#sourceIcon {
    height: 40px;
    width:40px;
}

#newsHeader {
    padding: 3px;
    margin: 3px;
}

#newsBody {
    padding: 3px;
    margin: 3px;
}

#newsDescription {
    margin: 0px;
    padding: 2px;
}

#newsCard {
    margin: 30px;
}
